astroid==2.1.0
Click==7.0
Flask==1.0.2
isort==4.3.4
itsdangerous==1.1.0
Jinja2==2.10
lazy-object-proxy==1.3.1
MarkupSafe==1.1.0
mccabe==0.6.1
numpy==1.16.1
pandas==0.24.1
python-dateutil==2.8.0
pytz==2018.9
six==1.12.0
-e git+http://github.com/lucper/uceasy.git@aa0b0bc250ad330b814389c4a438d816e84b61d6#egg=uceasy
Werkzeug==0.14.1
wrapt==1.11.1
pytest==5.0.0
